server:
  port: 8081

spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/xe
    username: system
    password: 123456

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true